.detail-wrapper {
  // position: absolute;
  height: 100vh;
  background: no-repeat url('../../asset/bac2.png') fixed center;
  background-attachment: fixed;
  padding-top: 1px;
  overflow: scroll;
  background-size: cover;

  .content {
    line-height: 80px;
    width: 90%;
    padding: 20px;
    margin: 180px auto;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgb(225, 215, 215);
    overflow: hidden;
    font-family: 'yjsz';
    color: white;
    font-family: electronicFont;

    .content-title {
      width: 80%;
      font-size: 40px;
      color: black;
      /* 黄色 */
      text-align: center;
      margin: 60px auto;
    }

    .content-enterpriseName {}

    .content-publishTime {}

    .content-duringTime {}

    .content-holsPlace {}

    .content-writtenPlace {}

    .content-interviewPlace {}

    .content-dicGroupRecruitName {}

    .content-teacher {}

    .down {
      width: 50vw;
      height: 80px;
      border-radius: 20px;
      backdrop-filter: blur(10px);
      box-shadow: 2px 0 20px #edeb9c;
      text-align: center;
      line-height: 80px;
      margin:50px auto;
      color: rgb(255, 255, 255);
    }
  }

  .trylatter {
    width: 50vw;
    height: 50vh;
    margin: 30%;
    color: green;
    font-size: 50px;
  }
}